@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
  /* font-family: 'Noto Sans TC', sans-serif; */

  /* font-weight: normal; 字型的 weight 值，可以為 100、 200、 300 Light、 400 Normal、 500、 600 Semi-Blod、 700 Blod、 800 Extra-Bold、 900 */


body{
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  background-color: rgb(50,7,2);
}



.navbar{
  height: 80px;
  border-style: none;
  background-color: black;
}

#nav_title{
  font-size: 48px;
}

.nav_element{
  font-size: 24px;
}



#invisible-distance{
  height: 80px;
}



.bread{
  font-size: 24px;
  text-align: left;
  color: white;
}

.bread_link{
  color: rgb(230, 171, 30);
}

.source{
  font-size: 24px;
  text-align: left;
  color: rgb(210,210,210);
}



.content_title{
  height: 80px;
  background-color: rgb(49,49,49);
}

.title_font{
  text-align: left;
  font-size: 48px;
  color: white;
}

.content_area{
  background-color: rgb(71,31,26);
}

.area_font{
  margin: 0px, 50px;
  text-align: left;
  font-size: 24px;
  color: rgb(210,210,210);
}

#message{
  text-align: left;
  font-size: 64px;
  color: white;
}



footer{
  height: 130px;
  background-color: black;
  font-size: 18px;
  color: white;
}
